.card__description_large {

    max-width: calc(100% - 100px);
    margin: 0 auto 30px auto;
    &:last-of-type {
        margin: 0 auto 25px auto;
    }

    @media screen and (max-width: 768px) {
        max-width: calc(100% - 50px);
    }
}