.accordeon__arrow {
	width: 31px;
    height: 31px;
	object-fit: contain;
	transform: rotate(-180deg);
	transition: 0.3s;

	@media screen and (max-width: 768px) {
		width: 15px;
		height: 15px;
	}

	.links & {
		width: 16px;
		height: 31px;
		transform: none;

		@media screen and (max-width: 768px) {
			width: 8px;
			height: 15px;
		}
	}
}
