.videos__arrow {
    top: unset !important;
    color: #000 !important;
}

.swiper-button-prev {
    left: 0 !important;
    right: unset !important;
}

.swiper-button-next {
    right: 0 !important;
    left: unset !important;
}