.notcritical {
	padding-top: 0 !important;
}

.b-crumb_new-style {
	a {
		color: #4a4a4a !important;
	}

	& + &::before {
		color: #4a4a4a !important;
	}

	&.active {
		color: #4a4a4a !important;
	}
	&.active:after {
		background-color: #4a4a4a !important;
	}
}
