.hover-content_faq {
	align-items: flex-start;
	padding: 32px;
	box-sizing: border-box;

	@media screen and (max-width: 1006px) {
		position: relative;
		max-height: 0;
		padding: 0 32px;
		margin: -20px 0 0 0;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		gap: 20px;
	}

	@media screen and (max-width: 768px) {
		padding: 0 15px;
	}
}
