.hover-content_faq_active {
	max-height: 1000px;
	padding: 52px 32px 32px 32px;
	background: #4b4b4b !important;
	visibility: visible;
	opacity: 1;
	pointer-events: auto !important;

	& ~ .card__arrow {
		transform: rotate(180deg);
	}

	@media screen and (max-width: 768px) {
		padding: 30px 15px 15px 15px;
	}
}
