.cards_two-columns {
	flex: 0 0 50%;
	gap: 20px;
	margin-left: -15px;
	width: calc(100% + 15px);

	@media screen and (max-width: 1006px) {
		max-width: unset;
		flex: unset;
		flex-direction: column;
	}
}
