.reset__flex {
	display: block !important;
	height: unset !important;
	width: unset !important;
	flex-direction: unset !important;
	align-items: unset !important;
	justify-content: unset !important;
}
