@import "../vendor/normalize.css";
@import "../vendor/reset.css";
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(museosanscyrl-500-webfont.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(museosanscyrl-700-webfont.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(museosanscyrl-900-webfont.woff);
  font-weight: 900;
}
.page {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}

.banner {
  margin: 0 0 55px 0;
}

.banner__image {
  max-width: 1024px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .banner__image {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .mobile {
    display: none !important;
  }
}

.cards {
  display: flex;
  flex: 0 0 25%;
  width: 100%;
  list-style: none;
  margin: 0 0 60px 0;
  justify-content: space-between;
  padding: 0;
}
@media screen and (max-width: 1006px) {
  .cards {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    flex: 0 0 50%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 499px) {
  .cards {
    flex: unset;
    flex-direction: column;
  }
}

.cards_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: unset !important;
  gap: 20px;
}

.card_img {
  margin: 0 20px 20px 0;
  max-width: calc(100% - 20px);
  outline: none !important;
  border: none !important;
  border-radius: 20px !important;
}
.card_img:nth-of-type(2) {
  margin: 0 0 20px 0;
}
.card_img:last-of-type {
  margin: 0 0 20px 0;
}

.page-footer {
  max-width: 510px;
  margin: 0 auto 100px auto;
}
@media screen and (max-width: 1006px) {
  .page-footer {
    margin: 0 auto 80px auto;
  }
}
@media screen and (max-width: 768px) {
  .page-footer {
    max-width: calc(100% - 60px);
    margin: 0 auto 40px auto;
  }
}

.page-footer_buttons {
  display: flex;
  max-width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .page-footer_buttons {
    max-width: calc(100% - 60px);
  }
}

.button {
  margin: 0 auto;
  border: none;
  background: #f0ab00;
  color: #fff !important;
  border-radius: 8px;
  padding: 13px 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 1.2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none !important;
  box-sizing: border-box;
  transition: 0.3s;
  outline: none !important;
  flex-direction: column;
}
.button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}

.button_hover-content {
  margin: 0 !important;
  padding: 5px 50px !important;
  width: unset;
  max-width: 100%;
}

.button_footer {
  background: #0093d0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 22px;
  margin: 0;
  max-width: unset;
}
@media screen and (max-width: 1006px) {
  .button_footer {
    max-width: unset;
    height: 50px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .button_footer {
    height: 40px;
    line-height: 1 !important;
    font-size: 10px !important;
    padding: 0 5px;
    width: 50%;
  }
}

.button_transparent {
  background: transparent !important;
  border: 2px solid #000000;
  color: #000000 !important;
  min-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .button_transparent {
    min-width: unset;
  }
}