.info-popup__text-wrapper {
	overflow: scroll;
	padding: 0 55px 0 0;

	&::-webkit-scrollbar {
		background: #dff0fd;
		width: 5px;
        height: 0;
	}
	&::-webkit-scrollbar-thumb {
		width: 5px;
		border-radius: 5px;
		background: #0093d0;
	}
}
