.slider__icons {
	max-width: 1024px;
	width: 100%;
	position: absolute;
	top: 0;
	border-radius: 20px;
	z-index: 9;
	background: #d9d9d9;
	padding: 45px 40px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;

	@media screen and (max-width: 768px) {
		padding: 20px;
		order: 2;
		position: relative;
		max-width: calc(100% - 200px);
		margin: 0 auto 32px auto;
	}

	@media screen and (max-width: 499px) {
		padding: 0;
		height: 80px;
	}

	.videos__arrows {
		width: calc(100% + 100px) !important;
		left: -50px !important;
		top: 55px !important;
		transform: none !important;

		@media screen and (max-width: 499px) {
			top: 40px !important;
		}
	}
}
