@import "../../vendor/normalize.css";
@import "../../vendor/reset.css";
html {
  background: #f1f7fc;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(../../vendor/fonts/museosanscyrl-500-webfont.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(../../vendor/fonts/museosanscyrl-700-webfont.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(../../vendor/fonts/museosanscyrl-900-webfont.woff);
  font-weight: 900;
}
.reset__flex {
  display: block !important;
  height: unset !important;
  width: unset !important;
  flex-direction: unset !important;
  align-items: unset !important;
  justify-content: unset !important;
}

.page {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}

.banner {
  margin: 0 0 55px 0;
}

.banner__image {
  max-width: 1024px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .banner__image {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .mobile {
    display: none !important;
  }
}

.lead {
  margin: 0 auto 60px auto;
  max-width: 800px;
}
@media screen and (max-width: 900px) {
  .lead {
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: unset;
  }
}

.lead__title {
  margin: 0 0 24px 0;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  display: block !important;
}
@media screen and (max-width: 1006px) {
  .lead__title {
    font-size: 4.7vw;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 6vw;
  }
}

.lead__title_min {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 60px 0;
}

.lead__description {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}
.lead__description span {
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 1006px) {
  .lead__description span {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1006px) {
  .lead__description {
    font-size: 2.05vw;
  }
}
@media screen and (max-width: 768px) {
  .lead__description {
    font-size: 2.25vw;
    line-height: 1.5;
  }
}
@media screen and (max-width: 550px) {
  .lead__description {
    font-size: 3.3vw;
  }
}

.lead__description_min {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin: 0 0 20px 0;
}

.reviews {
  margin: 0 0 80px 0;
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 40px 0;
}

.reviews__form {
  max-width: 670px;
  width: 100%;
  min-height: 340px;
  margin: 0 auto;
}

.page-footer {
  max-width: 510px;
  margin: 0 auto 100px auto;
}
@media screen and (max-width: 1006px) {
  .page-footer {
    margin: 0 auto 80px auto;
  }
}
@media screen and (max-width: 768px) {
  .page-footer {
    max-width: calc(100% - 60px);
    margin: 0 auto 40px auto;
  }
}

.page-footer_buttons {
  display: flex;
  max-width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .page-footer_buttons {
    max-width: calc(100% - 60px);
  }
}

.button {
  font-family: "Museo Sans Cyrl";
  margin: 0 0 55px 0;
  border: none;
  background: #f0ab00;
  color: #fff !important;
  border-radius: 8px;
  padding: 7px 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 19px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 140px;
  text-decoration: none !important;
  box-sizing: border-box;
  transition: 0.3s;
  text-align: center;
}
.button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1006px) {
  .button {
    margin: 0 0 25px 0;
    line-height: 1.2;
    width: calc(100% - 40px);
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}

.button_footer {
  background: #0093d0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 22px;
  margin: 0;
  max-width: unset;
}
@media screen and (max-width: 1006px) {
  .button_footer {
    max-width: unset;
    height: 50px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .button_footer {
    height: 40px;
    line-height: 1 !important;
    font-size: 10px !important;
    padding: 0 5px;
    width: 50%;
  }
}

.button_transparent {
  background: transparent !important;
  border: 2px solid #000000;
  color: #000000 !important;
  min-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .button_transparent {
    min-width: unset;
  }
}