@import "../vendor/normalize.css";
@import "../vendor/reset.css";
html {
  background-color: #f1f7fc;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(museosanscyrl-500-webfont.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(museosanscyrl-700-webfont.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url(museosanscyrl-900-webfont.woff);
  font-weight: 900;
}
.page {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
}

.banner {
  margin: 0 0 55px 0;
}

.banner__image {
  max-width: 1024px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .banner__image {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .mobile {
    display: none !important;
  }
}

.lead {
  margin: 0 auto 60px auto;
  max-width: 800px;
}
@media screen and (max-width: 900px) {
  .lead {
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: unset;
  }
}

.lead__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}
.lead__description span {
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 1006px) {
  .lead__description span {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1006px) {
  .lead__description {
    font-size: 2.05vw;
  }
}
@media screen and (max-width: 768px) {
  .lead__description {
    font-size: 2.25vw;
    line-height: 1.5;
  }
}
@media screen and (max-width: 550px) {
  .lead__description {
    font-size: 3.3vw;
  }
}

.text {
  line-height: 1.2;
  font-style: normal;
  color: #000;
  font-weight: 400;
  margin: 0 0 60px 0;
}

.text__main {
  font-size: 16px;
  margin: 0 0 20px 0;
  font-weight: 400;
}
.text__main span {
  font-weight: 800;
}
.text__main:last-of-type {
  margin: 0;
}
#info-avia .text__main {
  font-size: 14px;
}
.gos .text__main {
  margin: 0;
}

.text__link {
  text-decoration: none;
  color: #0093d0 !important;
}

.text__main_min {
  font-size: 14px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .text__main_min {
    font-size: 9px;
  }
}

.card__download-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px !important;
  color: #0093d0 !important;
  cursor: pointer;
}
@media screen and (max-width: 499px) {
  .card__download-link {
    font-size: 10px !important;
    white-space: nowrap;
  }
}

.page-footer {
  max-width: 510px;
  margin: 0 auto 100px auto;
}
@media screen and (max-width: 1006px) {
  .page-footer {
    margin: 0 auto 80px auto;
  }
}
@media screen and (max-width: 768px) {
  .page-footer {
    max-width: calc(100% - 60px);
    margin: 0 auto 40px auto;
  }
}

.page-footer_buttons {
  display: flex;
  max-width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .page-footer_buttons {
    max-width: calc(100% - 60px);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 60px 0;
}
@media screen and (max-width: 799px) {
  .buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.buttons .buttons-list {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .buttons .buttons-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
.buttons .buttons-list .button {
  margin: 0;
  padding: 0;
  font-size: 14px !important;
  color: #828282 !important;
  background: #e5e5e5;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  width: 100%;
  max-width: none;
}
@media screen and (max-width: 768px) {
  .buttons .buttons-list .button {
    font-size: 10px !important;
    height: 30px;
  }
}

.button {
  margin: 0 auto;
  border: none;
  background: #f0ab00;
  color: #fff !important;
  border-radius: 8px;
  padding: 13px 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 1.2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none !important;
  box-sizing: border-box;
  transition: 0.3s;
  outline: none !important;
  flex-direction: column;
}
.button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}

.button_footer {
  background: #0093d0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 22px;
  margin: 0;
  max-width: unset;
}
@media screen and (max-width: 1006px) {
  .button_footer {
    max-width: unset;
    height: 50px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .button_footer {
    height: 40px;
    line-height: 1 !important;
    font-size: 10px !important;
    padding: 0 5px;
    width: 50%;
  }
}

.button_transparent {
  background: transparent !important;
  border: 2px solid #000000;
  color: #000000 !important;
  min-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .button_transparent {
    min-width: unset;
  }
}

.button_wide {
  max-width: 30%;
  padding: 12px 0;
  width: 100%;
  margin: 0 15px 15px 0;
}
@media screen and (max-width: 799px) {
  .button_wide {
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 768px) {
  .button_wide {
    max-width: 100%;
  }
}